body > * {
  z-index: 1;
  position: relative;
  transition: opacity 2000ms;
  opacity: 1;

}

body.loading > * {
  opacity: 0;
}

.postcard {
  z-index: 100;
  position: absolute;
  background-image: url("../assets/pictures/postcard.png");
  font-family: 'Courier New', Courier, monospace;
  top: calc(50% - 234px);
  left: calc(50% - 375px);
  width: 750px;
  height: 468px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
}

.message {
  width: 37%;
  padding: 30px;
  font-size: 18px;
}

.info-box {
  z-index: 100;
  position: relative;
  background-color: rgb(238, 70, 162);
  width: 500px;
  margin: 0 auto;
  top: 200px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-family: fantasy;
  /*   box-shadow: 2px 2px 2px gray; */
  display: none;
}

.info-box h1 {
  font-size: 36px;
}

.info-box p {
  font-size: 24px;
}
